<%= form_with(model: rental_property, local: true) do |f| %>
  <% if rental_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental_property.errors.count, "error") %> prohibited this rental_property from being saved:</h2>

      <ul>
        <% rental_property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :rent %>
  </div>
  <div>
    <%= f.text_field :rent, inputmode: :numeric %>円
  </div>

  <div class="field">
    <%= f.label :address %>
  </div>
  <div>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :age %>
  </div>
  <div>
    <%= f.text_field :age, inputmode: :numeric %>年
  </div>

  <div class="field">
    <%= f.label :note %>
  </div>
  <div>
    <%= f.text_area :note %>
  </div>

  <hr>

  <%= f.fields_for :nearest_stations do |station| %>
    <h3><%= "最寄り駅#{station.index + 1}" %></h3>
    <div class="field">
      <%= station.label :line %>
    </div>
    <div>
      <%= station.text_field :line %>
    </div>
    <div class="field">
      <%= station.label :name %>
    </div>
    <div>
      <%= station.text_field :name %>
    </div>
    <div class="field">
      <%= station.label :walking_minutes %>
    </div>
    <div>
      <%= station.text_field :walking_minutes, inputmode: :numeric %>分
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
