<p id="notice"><%= notice %></p>

<h1>Rental Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rent</th>
      <th>Address</th>
      <th>Age</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_properties.each do |rental_property| %>
      <tr>
        <td><%= rental_property.name %></td>
        <td><%= rental_property.rent %></td>
        <td><%= rental_property.address %></td>
        <td><%= rental_property.age %></td>
        <td><%= rental_property.note %></td>
        <td><%= link_to 'Show', rental_property %></td>
        <td><%= link_to 'Edit', edit_rental_property_path(rental_property) %></td>
        <td><%= link_to 'Destroy', rental_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental Property', new_rental_property_path %>
